# Ignore all .env files in any directory
*.env

# Ignore all client secrets JSON files in any directory
client_secrets.json

# Ignore __pycache__ directories in any location
**/__pycache__/

# Ignore compiled Python files
*.pyc

repo_scanner.py

test_login.txt

*test_login.txt